<a href="https://colab.research.google.com/github/Kiritojr/SQLite3/blob/master/def_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3 as sql

In [0]:
data_base = input("Qual o nome do banco de dados deseja acessar/criar.")

connection = sql.connect(f'{data_base}.bd')

cur = connection.cursor()

choice()

In [0]:
def choice():

    acao = input("""A - Criar nova tabela (CREATE TABLE).
    B - Visualizar tabela existente (SELECT * FROM TABLE).
    C - Inserir novos dados (INSERT INTO).
    D - Alterar a estrutura da tabela (ALTER TABLE).
    E - Modificar os dados (UPDATE).
    F - Remover registro(os) da tabela (DELETE).
    G - Encerrar conexão.
    """).upper()

    if acao == 'A':
        create_table()

    elif acao == 'B':
        select_table()

    elif acao == 'C':
        insert_into()

    elif acao == 'D':
        alter_table()

    elif acao == 'E':
        update()

    elif acao == 'F':
        delete()

    elif acao == 'G':
        cur.close()
        connection.close()

    else:
        print('ERRO!!, por favor digite uma opção existente.')
        choice()

In [0]:
def create_table():

    print("Insira o comando com os dados da tabela.")
    new_table = input()
    cur.execute(new_table)

    connection.commit()
    choice()

In [0]:
def select_table():

    choice = input('deseja visualisar todos os dados da tabela? [Y/N] ').upper()
    if choice == 'Y':
        name_table = input('Qual o nome da tabela? ')
        cur.execute(f'SELECT * FROM {name_table}')

        for linha in cur.fetchall():
            print(linha)
    else:
        print("Insira o comando para a visualização.")
        select = input()
        cur.execute(select)
        
        for linha in cur.fetchall():
            print(linha)
        
    choice()

In [0]:
def insert_into():

    print("Insira o comando para inserir novos dados na tabela.")
    insert = input()
    cur.execute(insert)

    connection.commit()
    
    choice()

In [0]:
def alter_table():

    print("Insira o comando para alterar a estrutura da tabela.")    
    alter = input()
    cur.execute(alter)

    connection.commit()

    choice()

In [0]:
def update():

    print('Insira o comando para modificar os dados da tabela.')
    up = input()
    cur.execute(up)

    connection.commit()

    choice()

In [0]:
def delete():

    print('Insira o comando para remover registro(os) da tabela.')   
    delet = input()
    cur.execute(delet)

    connection.commit()

    choice()