<a href="https://colab.research.google.com/github/Kiritojr/SQLite3/blob/master/sqlite3_introdu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Removes the file with the SQLite database (if any)
import os
os.remove("Estoque.db") if os.path.exists("Estoque.db") else None

In [0]:
 import sqlite3

In [0]:
#Create a database connection
#If the database does not exist, it is created at that time

connect = sqlite3.connect('Estoque.db')

In [0]:
type(connect)

sqlite3.Connection

In [0]:
# Creating a course
# A cursor allows you to cycle through all the records in a data set

cur = connect.cursor()

In [0]:
type(cur)

sqlite3.Cursor

In [0]:
# Creating an SQL statement to create a table named 'Inventory'

sql_create = '''CREATE TABLE Estoque (
    id_nome VARCHAR(50) PRIMARY KEY,
    quant INT)'''

In [0]:
# Executing the SQL statement at the cursor

cur.execute(sql_create)

In [0]:
# Creating an SQL statement to insert a record

sql_insert = 'INSERT INTO Estoque VALUES (?, ?)'

In [0]:
# Data

dados = [('Óleo 1L', 2),
         ('Macarrão 500g', 2),
         ('Leite 1L', 10)]

In [0]:
# Inserting data

for data in dados:
    
    cur.execute(sql_insert,data)

In [0]:
# Save the transaction

connect.commit()

In [0]:
# Creating another SQL statement to select records

sql_select = 'SELECT * FROM Estoque'

In [0]:
# Select all records and retrieve records

cur.execute(sql_select)
data = cur.fetchall()

In [0]:
# Shows
for linha in data:
    print ('id_nome: %s, Quantidade: %d \n' % linha)

id_nome: Óleo 1L, Quantidade: 2

id_nome: Macarrão 500g, Quantidade: 2

id_nome: Leite 1L, Quantidade: 10

In [0]:
# Generating other records

dados = [('Arroz 5Kg', 2),
         ('Feijão 1Kg', 3)]

# Inserting the records

for data in dados:

    cur.execute(sql_insert, data)
    
# Recording the transaction

connect.commit()

In [0]:
# Select all records

cur.execute('SELECT * FROM Estoque')

# Retrieve the results

dados = cur.fetchall()

# Show

for data in dados:

    print('id_nome: %s, Quantidade: %d \n' %data)

id_nome: Óleo 1L, Quantidade: 2

id_nome: Macarrão 500g, Quantidade: 2

id_nome: Leite 1L, Quantidade: 10

id_nome: Arroz 5Kg, Quantidade: 2

id_nome: Feijão 1Kg, Quantidade: 3

In [0]:
# Close the connection

connect.close()