<a href="https://colab.research.google.com/github/Kiritojr/SQLite3/blob/master/sqlite3_introdu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Reemove o arquivo com o banco de dados SQLite (caso exista)
import os
os.remove("Estoque.db") if os.path.exists("Estoque.db") else None

In [0]:
 import sqlite3

In [0]:
#Cria uma conexão com o banco de dados
#Caso o banco de dados não existir, ele é criado nesse momento

connect = sqlite3.connect('Estoque.db')

In [60]:
type(connect)

sqlite3.Connection

In [0]:
# Criando um curso
# Um cursor permite percorrer todos os registros em um conjunto de dados

cur = connect.cursor()

In [62]:
type(cur)

sqlite3.Cursor

In [0]:
# Criando uma instrução SQL para criar uma tabela com nome 'Estoque' com os parâmetros 'id_nome' e 'quant'

sql_create = '''CREATE TABLE Estoque (
    id_nome VARCHAR(50) PRIMARY KEY,
    quant INT)'''

In [64]:
# Executando a instrução SQL no cursor

cur.execute(sql_create)

In [0]:
# Criando uma instrução SQL para inserir um registro

sql_insert = 'INSERT INTO Estoque VALUES (?, ?)'

In [0]:
# Dados

dados = [('Óleo 1L', 2),
         ('Macarrão 500g', 2),
         ('Leite 1L', 10)]

In [0]:
# Inserindo dados

for data in dados:
    
    cur.execute(sql_insert,data)

In [0]:
# Grava a transação

connect.commit()

In [0]:
# Criando outra sentença SQL para selecionar registros

sql_select = 'SELECT * FROM Estoque'

In [0]:
# Seleciona todos os registros e recupera os registros

cur.execute(sql_select)
data = cur.fetchall()

In [71]:
# Mostra
for linha in data:
    print ('id_nome: %s, Quantidade: %d \n' % linha)

id_nome: Óleo 1L, Quantidade: 2

id_nome: Macarrão 500g, Quantidade: 2

id_nome: Leite 1L, Quantidade: 10

In [0]:
# Gerando outros registros

dados = [('Arroz 5Kg', 2),
         ('Feijão 1Kg', 3)]

# Inserindo os registros

for data in dados:

    cur.execute(sql_insert, data)
    
# Gravando a transação

connect.commit()

In [74]:
# Seleciona todos os registros

cur.execute('SELECT * FROM Estoque')

# Recupera os resultados

dados = cur.fetchall()

# Mostra

for data in dados:

    print('id_nome: %s, Quantidade: %d \n' %data)

id_nome: Óleo 1L, Quantidade: 2

id_nome: Macarrão 500g, Quantidade: 2

id_nome: Leite 1L, Quantidade: 10

id_nome: Arroz 5Kg, Quantidade: 2

id_nome: Feijão 1Kg, Quantidade: 3

In [0]:
# Fechar a conexão

connect.close()